%html
  %head
    %meta{:charset => 'UTF-8'}
      %title Recommendation Engine
  %body
    .heading
      %img{:src => 'assets/ThoughtWorks.png'}
    .ui.grid.main-content
      .four.wide.column
        .ui.secondary.pointing.menu
          %a.item#user.active
            %h2 User
          %a.item#movie
            %h2 Movie
        .ui.segment.select-panel  
          %select.ui.fluid.search.selection.dropdown#user-selection
            %option{:value => 'select'} Select A User
            -@users.each do |user|
              %option{:value => "#{user[:uid]}"} #{user[:uid]}
          %select.ui.fluid.search.selection.dropdown#movie-selection
            %option{:value => 'select'} Select A Movie
            -@movies.each do |movie|
              %option{:value => "#{movie[:mid]}"} #{movie[:title]}
        .search-creteria
      .twelve.wide.column.center.aligned
        .ui.link.cards.card-list 

