%header
  .row
    %img.col-md-2(src="assets/ThoughtWorks.png")
    %h1.col-md-10 RECOMMENDATION ENGINE

.container
  %section
    %h1 Movie:
    %select{ movie: 'movies' }
      %option Select Movies
      %option Toy Story
      %option Toy Story 2
    %button.btn-success GO!