%html
  %head
    %meta{:charset => 'UTF-8'}
      %title Recommendation Engine
  %body
    .heading
      %img{:src => 'assets/ThoughtWorks.png'}
    .ui.grid.main-content
      .four.wide.column
        .ui.secondary.pointing.menu
          %a.item#user
            %h2 User
          %a.item#movie
            %h2 Movie
        .ui.segment.select-panel 
          .ui.fluid.selection.dropdown#user-selection
            %input{:name => "user", :type => "hidden"}
              %i.dropdown.icon
              .default.text Select A User
              .menu
                -@users.each do |user|
                  .item{"data-value" => "#{user[:uid]}"} #{user[:uid]}
          .ui.fluid.selection.dropdown#movie-selection
            %input{:name => "movie", :type => "hidden"}
              %i.dropdown.icon
              .default.text Select A Movie
              .menu
                -@movies.each do |movie|
                  .item{"data-value" => "#{movie[:mid]}"} #{movie[:title]}
        .search-creteria
      .twelve.wide.column.center.aligned.movie-list