%html
  %head
    %meta{:charset => "UTF-8"}
      %title Recommendation Engine
  %body
    .header
      .header-logo
        %img{:src => "assets/ThoughtWorks.png"}
      .header-heading
        %h1 Recommendation Engine
    .container
      .left-panel
        .user-scenario
          %h1 User Scenario
          .dropdown
            %select
              %option{:value => "volvo"} Volvo
              %option{:value => "saab"} Saab
              %option{:value => "opel"} Opel
              %option{:value => "audi"} Audi
          .profile
            %img{:src => "assets/user-image.png"}
            .user-details
              %table
                %tr
                  %td Age:
                  %td Unknown
                %tr
                  %td Gender:
                  %td Unknown
                %tr
                  %td Categories:
                  %td Unknown
                %tr
                  %td Recent Purchases:
                  %td Unknown
        .movie-scenario
          %h1 IS VIEWING...
          .dropdown
            %select#movie-selection
              %option{:value => "select"} Select A Movie
              -@movies.each do |movie|
                %option{:value => "{ \"mid\": #{movie[:mid]}, \"imgUrl\": \"#{movie[:imgUrl]}\"}"} #{movie[:title]}
          %img#selected-movie-image{:src => "assets/frozen.jpg"}
      .right-panel
        %h1
          Recommendations
        .products