%html
  %head
    %meta{:charset => 'UTF-8'}
      %title Recommendation Engine
  %body
    .heading
      %img{:src => 'assets/ThoughtWorks.png'}
    .ui.grid.main-content
      .four.wide.column
        .ui.secondary.pointing.menu
          %a.item#user-menu
            %h2 User
          %a.item#movie-menu
            %h2 Movie
        .ui.segment.select-panel
          #user-selection
            %select.ui.fluid.search.dropdown
              %option{:value => ''} Select A User
              -@users.each do |user|
                %option{:value => "#{user[:uid]}"} #{user[:uid]}
          #movie-selection
            %select.ui.fluid.search.dropdown
              %option{:value => ''} Select A movie
              -@movies.each do |movie|
                %option{:value => "#{movie[:mid]}"} #{movie[:title]}
        .search-creteria
      .twelve.wide.column.center.aligned.movie-list