<!doctype html>
%html
  %head
    %meta{:charset => "UTF-8"}
      %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
        %link{:href => "stylesheets/main.css", :rel => "stylesheet", :type => "text/css"}
          %title RECOMMENDATION ENGINE
  %body
    .container
      %nav.navbar.header
        .row
          .col-md-3.header-logo
            %img{:src => "assets/ThoughtWorks.png"}
          .col-md-9.header-heading
            %h1 RECOMMENDATION ENGINE
      .col-md-12.column
        .row.clearfix
          .col-md-4.column.left-panel
            .section.scenario
              %h2 SCENARIO
              .dropdown
                %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown", :type => "button"}
                  Dropdown
                  %span.caret
                %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", :role => "menu"}
                  %li{:role => "presentation"}
                    %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Action
                  %li{:role => "presentation"}
                    %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Another action
                  %li{:role => "presentation"}
                    %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Something else here
                  %li{:role => "presentation"}
                    %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Separated link
              .row.profile
                .user-image.col-md-3
                  %img{:src => "assets/user-image.png"}
                .user-details.col-md-9
                  %table.table-responsive
                    %tr
                      %td Age:
                      %td Unknown
                    %tr
                      %td Gender:
                      %td Unknown
                    %tr
                      %td Categories:
                      %td Unknown
                    %tr
                      %td Recent Purchases:
                      %td Unknown
            .section.viewing
              %h2 IS VIEWING...
              .dropdown
                %a.btn.btn-default.dropdown-toggle{:href=>"#", "data-toggle"=>"dropdown"}
                  Select A Movie
                  %b.caret
                %ul.dropdown-menu
                  -@movies.each do |movie|
                    %li
                      %a{:href => "#{movie[:mid]}"} #{movie[:title]}
              .movie-img
                %img{:src => "assets/frozen.jpg"}
          .col-md-8.column.right-panel
            .products
              %h1 RECOMMENDED PRODUCTS
              -for i in 0..3
                .row
                  .col-md-3
                    %img{:src => "assets/frozen.jpg"}
                  .col-md-9
                    %table
                      %tr
                        %td Name
                      %tr
                        %td Rating
                      %tr
                        %td Category