.header{
    background: #ec008c;
    margin-bottom: 0;
}

.header-logo img{
    height: 40px;
    margin: 20px;
}
.header-heading{
    color: white;
}

.left-panel{
    background-color: #f6f6f6;
    min-height:600px;
}

.right-panel{
    min-height:600px;
}