.header{
    background: #FD0089;
    margin-bottom: 0;
}

.header-logo img{
    height: 40px;
    margin: 20px;
}
.header-heading{
    color: white;
}

.left-panel{
    background-color: #f6f6f6;
    min-height:100%;
}

.right-panel{
    min-height:100%;
}

.scenario {
    height: 30%;
    margin-top: 20%;
}

.scenario img{
    height: 30%;
}

h2 {
    margin: 25px 0;
}

.profile {
    margin-top: 8%;
}

.movie-img img {
    height: 30%;
    margin-top: 5%;
}

.viewing h2 {
    margin-top: 0;
}

.products {
    margin-top: 9%;
    height: 50%;
}

.products img {
    height: 150px;
    margin-left: 25%;
}

.products table {
    height: 150px;
}

.products .row {
    margin-bottom: 15px;
}

.products h1{
    margin-bottom: 30px;
}